@import 'variables';

.bg_prim_color {
    background-color: $prim-color;
}

.bg_seco_color {
    background-color: $seco-color;
}

.bg_link_color {
    background-color: $link-color;
}

.bg_text_color {
    background-color: $text-color;
}

.c_prim_color {
    color: $prim-color;
}

.c_seco_color {
    color: $seco-color;
}

.c_link_color {
    color: $link-color;
}

.c_text_color {
    color: $text-color;
}

.card{
    border: 0px solid transparent;
}

.box_shadow_stroke{
    border: 3px solid $prim-color;
    box-shadow: 5px 5px 0px $prim-color;
    &:focus{
        outline: 1px solid $prim-color;
    }
}

.box_shadow_stroke_small{
    border: 2px solid $prim-color;
    box-shadow: 3px 3px 0px $prim-color;

    &.checked{
        box-shadow: 0px 0px 0px;
    }

    &:focus{
        outline: 1px solid $prim-color;
    }
}

.shadow_stroke_error{
    border: 2px solid $seco-color;
    box-shadow: 3px 3px 0px $seco-color;
}

.stroke_bottom{
    border-bottom: 2px solid $prim-color;
}

.font_standard{
    font-size: 1.5rem;
}

.flex_grow{
    flex-grow: 1;
}

.cursor_pointer{
    cursor: pointer;
}

.check_box_item{
    color: $prim-color;
    background-color: #fff;
    
    &.checkbox_checked{
        box-shadow: 0px 0px 0px;
        color: $text-color;
        background-color: $link-color;
    }
}

// Menu Button
.menu_button{
    display: block;
    overflow-y: hidden;
    position: relative;
    padding: 0.5rem 1rem;
    // width: 6rem;
    // height: 2.8rem;
    cursor: pointer;

    .menu_button_item{
        position: absolute;
        transform: translate(-50%);
        font-weight: bold;
        font-size: 1.25rem;
        transition: 800ms cubic-bezier(0.075, 0.82, 0.165, 1);
        &.apri{
            left: 0.6rem;
            transform: translateY(0);
            &.trans-x-bot{
                transform: translateY(-100%);
            }
        }
        &.chiudi{
            left: 0.35rem;
            transform: translateY(100%);
            &.trans-x-top{
                transform: translateY(0);
            }
        }
    }
}

@media (min-width: 768px){
    .menu_button{
        display: none;
    }
}