.main_card {
    position: relative;
}

#delete_req {
    display: none;
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    height: 150px;
    // width: 100%;
}
    
    


    
