// .input-control.success {
//     border-color: green;
// }

// .input-control.error {
//     border-color: red;
// }

.error {
    border-color: red;
    color: red;
    font-size: 20px;
    height: 20px;
    
}